// @import "~bootstrap/scss/bootstrap.scss";
$darkBlue: hsl(209, 23%, 22%);
$veryDarkBlue: hsl(207, 26%, 17%);
$white: hsl(0, 0%, 100%);

.darkCardRow {
  background-color: $darkBlue;
  // display: block;
  overflow: auto;
  // align-items: center;
  // justify-content: center;
  // max-width: 150px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 40px;
  border-radius: 5px;

  .imgContainer {

    max-width: 100% !important;

    .flagImg {
      width: 100% !important; 
      height: 100% !important;
      //   max-width: 100%;
    }
  }
  .darkText {
    padding: 20px;
  }
}
/* this hides the value in the drop down list options */
.a { .dropdown-item-display { .dropdown-item
  &:focus {
    background-color: $darkBlue;
  }
}
}


.dropdown-menu{
  &:focus {
    background-color: $darkBlue;
  }

}

.dropdown-item {
  padding-left: 4%;
  background-color: $darkBlue;
  border:0;
  &:focus {
    background-color: $darkBlue;
  }
}

.btn-primary {
  background-color: $darkBlue;
  box-shadow: 0 4px 2px -2px rgb(0, 0, 0, 30%);
  border:0;
}

.headerRow {
  // justify-content: center;
  padding-top:25px;
  padding-bottom: 25px;
  padding-left: 9%;
  padding-right: 6%;
  margin-bottom: 50px;
  box-shadow: 0 4px 2px -2px rgb(0, 0, 0, 30%);
  background-color: $darkBlue;
}

.backButton {
  background-color: $darkBlue;
  padding-left: 20%;
  padding-right: 20%;
  box-shadow: 0 0 0 3px rgb(0, 0, 0, 10%);
  border: 0;
}

.inputFilter{
  margin-left:36%;
  margin-bottom: 50px;
}

.form-control {
  background-color: $darkBlue;
  color: $white;
  border-radius: 5px;
  box-shadow: 0 0 0 3px rgb(0, 0, 0, 10%);
  border:0;
}

body {
  // margin:50px;
  background-color: $veryDarkBlue;
  color: $white;
}

.row {
  --bs-gutter-x:0 !important;
}

.layoutContainer {
  
  // margin-top: 25px;
  // margin-bottom: 25px;
  // justify-content: center;
}